---
import icons from "../../data/icons.json";
import {
  Button,
  Modal,
  ModalHeader,
  ModalBody,
  ModalFooter,
} from "free-astro-components";
---

{
  icons.map((icon) => (
    <button
      title={`${icon.id}`}
      class="buttonIcon w-44 h-44 bg-white/60 dark:bg-black/60 relative border-2 border-slate-800 rounded-xl hover:border-slate-700 group transition-colors duration-200 flex items-center justify-center p-5 font-sans"
      data-icon-name={icon.name}
      data-icon-description={icon.description || "Description not available"}
      data-icon-url={icon.url}
    >
      <div class="absolute h-full w-full bg-[radial-gradient(rgb(30,41,59)_1.5px,transparent_1px)] [background-size:20px_20px] [mask-image:radial-gradient(ellipse_47%_47%_at_50%_50%,#00000061_50%,transparent_100%)] transition-colors" />
      <div class="flex flex-col items-center justify-center z-10">
        <i
          class="w-16 h-16 block text-black dark:text-white/100"
          style={{
            maskImage: `url(${icon.url})`,
            WebkitMaskImage: `url(${icon.url})`,
            maskSize: "contain",
            WebkitMaskSize: "contain",
            backgroundColor: "currentColor",
            maskRepeat: "no-repeat",
            webkitMaskRepeat: "no-repeat",
            maskPosition: "center",
            webkitMaskPosition: "center",
          }}
        />
        <span class="text-black dark:text-white text-lg font-semibold mt-2">
          {icon.name}
        </span>
      </div>
    </button>
  ))
}

<Modal id="modal-id">
  <ModalHeader>
    <h4 class="titleModal text-xl"></h4>
  </ModalHeader>
  <ModalBody>
    <div class="flex flex-col items-center justify-center">
 
      <div class="relative w-full h-64 flex items-center justify-center group">
        <div class="iconPreview w-full h-full flex items-center justify-center">
          <!-- Aquí se cargará el SVG dinámicamente -->
        </div>
        <div
          id="copyIndicator"
          class="absolute bottom-2 right-2 flex items-center gap-2 justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          title="Copy SVG"
        >
          <svg
            id="copySvgButton"
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-gray-500 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zM20 5H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h12v14z"
            />
          </svg>
        </div>
      </div>
      
      

      <div class="flex flex-col justify-start items-start max-sm:hidden">
        <h2 class="text-xl font-semibold mb-4">Description</h2>
        <p class="descriptionModal text-lg font-semibold mt-2"></p>
      </div>

      <div class="flex flex-col my-10 w-full">
        <h1 class="mr-4 text-xl font-semibold mb-4">Customize</h1>

        <div class="flex w-full items-center gap-4">
          <input
            id="rangeSlider"
            type="range"
            class="h-2 w-full appearance-none bg-neutral-50 focus:outline-none dark:bg-gray-500 [&::-moz-range-thumb]:size-4 [&::-moz-range-thumb]:appearance-none [&::-moz-range-thumb]:border-none [&::-moz-range-thumb]:bg-black active:[&::-moz-range-thumb]:scale-110 [&::-moz-range-thumb]:dark:bg-white [&::-webkit-slider-thumb]:size-4 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:border-none [&::-webkit-slider-thumb]:bg-black active:[&::-webkit-slider-thumb]:scale-110 [&::-webkit-slider-thumb]:dark:bg-white [&::-moz-range-thumb]:rounded-full [&::-webkit-slider-thumb]:rounded-full rounded-full"
            value="100"
            min="10"
            max="250"
            step="1"
          />
          <span
            id="rangeValue"
            class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-300"
            >100px</span
          >
          <input
            type="color"
            class="p-1 h-10 w-14 block bg-white border border-gray-200 cursor-pointer rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700"
            id="hs-color-input"
            value="#ffffff"
            title="Choose your color"
          />
        </div>
      </div>
    </div>
  </ModalBody>
  <ModalFooter>
    <div class="flex flex-row items-center justify-around w-full">
      <button
      class="export-button relative inline-flex items-center justify-center p-0.5 mb-2 me-1 text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-cyan-700 to-blue-700 group-hover:from-cyan-600 group-hover:to-blue-600 hover:text-white dark:from-cyan-500 dark:to-blue-500 dark:group-hover:from-cyan-500 dark:group-hover:to-blue-500 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 text-black hover:text-white dark:text-white bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Export SVG
      </span>
    </button>
    <button
      class="export-png-button relative inline-flex items-center justify-center p-0.5 mb-2 me-1 text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-cyan-700 to-blue-700 group-hover:from-cyan-600 group-hover:to-blue-600 hover:text-white dark:from-cyan-500 dark:to-blue-500 dark:group-hover:from-cyan-500 dark:group-hover:to-blue-500 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 text-black hover:text-white dark:text-white bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Export PNG
      </span>
    </button>
    <button
      class="close relative inline-flex items-center justify-center p-0.5 mb-2 me-1 text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-orange-700 via-red-700 to-red-900 group-hover:from-orange-600 group-hover:to-red-600 hover:text-white dark:from-orange-500 dark:via-red-500 dark:to-red-700 dark:group-hover:from-orange-500 dark:group-hover:to-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 text-black hover:text-white dark:text-white bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Close
      </span>
    </button>
    </div>
  </ModalFooter>
</Modal>

<script src="/src/assets/js/boxIcon.js"></script>
